<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    
<form action='login' method='POST'>
    {% csrf_token %}
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="only letter and number" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="button">Log In</button>
</form>
<div>
    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}
</div>

</body>
</html>